body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    background-color: #c3c3fd;
}
.touchpad {
    width: 100%;
    background-color: rgb(163, 163, 255);
    border-radius: 15px;
    box-sizing: border-box;
    height: calc(50vh - 2.5rem);
    position: relative;
    overflow: hidden;
}
.touch {
    height: calc(50vh - 2.5rem);
}
.leftmouse {
    height: calc(10vh);
    background-color: rgb(105, 139, 255);
    width: 50%;
    float: left;
    left: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
}
.rightmouse {
    height: calc(10vh);
    background-color: rgb(184, 108, 255);
    width: 50%;
    right: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
}
.keyboard {
    margin-top: 2rem;
    border-radius: 15px;
    width: 100%;
    color: black;
    background-color: rgb(163, 163, 255);
    border: none;
    padding: 0.5rem;
    box-sizing: border-box;
    height: 5rem;
    width: calc(100% - 18vw);
    vertical-align: middle;
    outline: none;
    font-size: 2rem;
}
.send {
    position: absolute;
    right: 1rem;
}
.send, .enter, .backspace, .copy, .paste, .toggle-drag,
.left, .up, .right, .down {
    width: calc(16vw);
    vertical-align: middle;
    height: 5rem;
    margin-top: 1.5rem;
    background-color: rgb(187, 113, 255);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
}
.backspace, .send {
    font-size: 0.75rem;
}
.send {
    margin-top: 2rem;
}
.leftmouse:active { 
    background-color: rgb(71, 104, 212);
}
.rightmouse:active, .send:active, .enter:active, .backspace:active, .copy:active, .paste:active, .toggle-drag[data-active="true"],
.left:active, .up:active, .right:active, .down:active {
    background-color: rgb(127, 47, 201);
}
.up-down {
    display: inline-block;
    vertical-align: bottom;
}
.up-down .inner {
    display: flex;
    flex-direction: column;
}

.up-down .inner .down {
    margin-top: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(63, 84, 151);
    }
    .touchpad {
        background-color: rgb(57, 57, 110);
    }
    .leftmouse {
        background-color: rgb(32, 57, 141);
    }
    .rightmouse {
        background-color: rgb(96, 28, 160);
    }
    .keyboard {
        color: white;
        background-color: rgb(32, 57, 141);
    }
    .send, .enter, .backspace, .copy, .paste, .toggle-drag,
    .left, .up, .right, .down {
        color: white;
        background-color: rgb(96, 28, 160);
    }
    .leftmouse:active { 
        background-color: rgb(20, 38, 97);
    }
    .rightmouse:active, .send:active, .enter:active, .backspace:active, .copy:active, .paste:active, .toggle-drag[data-active="true"],
    .left:active, .up:active, .right:active, .down:active {
        background-color: rgb(54, 14, 92);
    }
}

body.lunar {
    background-color: #ebe9da;
    font-family: Tahoma;
}

.lunar .touchpad {
    background: transparent;
    border-radius: 0;
}

.lunar .touch {
    border: 1px solid #c4cbd1;
    border-radius: 0;
    background-color: white;
    margin-bottom: 10px;
    height: calc(50vh - 8.25rem);
}

.lunar .leftmouse {
    background: linear-gradient(#fdfdfd, #f0f0ea);
    border: 1px solid;
    border-radius:5px;
    font-weight: normal;
    width: 49%;
}

.lunar .rightmouse {
    background: linear-gradient(#fdfdfd, #f0f0ea);
    border: 1px solid;
    border-radius:5px;
    font-weight: normal;
    width: 49%;
}

.lunar .send, .lunar .enter, .lunar .backspace, .lunar .copy, .lunar .paste, .lunar .toggle-drag,
.lunar .left, .lunar .up, .lunar .right, .lunar .down {
    color: black;
    background: linear-gradient(#fdfdfd, #f0f0ea);
    border: 1px solid;
    border-radius:5px;
    font-weight: normal;
}
.lunar .leftmouse:active { 
    background: linear-gradient(#fdfdfd, #f0f0ea);
    box-shadow: inset 0em 0em 1rem #eebe68;
}
.lunar .rightmouse:active, .lunar .send:active, .lunar .enter:active, .lunar .backspace:active, .lunar .copy:active, .lunar .paste:active, .lunar .toggle-drag[data-active="true"],
.lunar .left:active, .lunar .up:active, .lunar .right:active, .lunar .down:active {
    background: linear-gradient(#fdfdfd, #f0f0ea);
    box-shadow: inset 0em 0em 1rem #eebe68;
}

.lunar .keyboard {
    border: 1px solid #c4cbd1;
    border-radius: 0;
    background-color: white;
    color: black;
}

@font-face {
    font-family: Rubik;
    src: url(fonts/Rubik-VariableFont_wght.ttf);
}

body.foundation {
    background-color: white;
}

.foundation .touchpad {
    background: transparent;
    box-shadow: 0 0 .3rem 0 rgba(0,0,0,.25);
}

.foundation .leftmouse {
    background: white;
    border-top: 2px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.foundation .rightmouse {
    background: white;
    border-top: 2px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.foundation .backspace {
    font-size: 0.6rem;
}

.foundation .send, .foundation .enter, .foundation .backspace, .foundation .copy, .foundation .paste, .foundation .toggle-drag,
.foundation .left, .foundation .up, .foundation .right, .foundation .down {
    background: rgb(0, 69, 173);
    border-radius: .5rem;
    font-family: 'Rubik';
}
.foundation .leftmouse:active,
.foundation .rightmouse:active { 
    background: #e9e9ed;
}
 .foundation .send:active, .foundation .enter:active, .foundation .backspace:active, .foundation .copy:active, .foundation .paste:active, .foundation .toggle-drag[data-active="true"],
.foundation .left:active, .foundation .up:active, .foundation .right:active, .foundation .down:active {
    background: #0052cc;
}

.foundation .keyboard {
    border: 3px solid #999;
    border-radius: 0;
    background-color: white;
    color: black;
    font-family: 'Rubik';
}

.foundation .keyboard:focus {
    outline: solid 2px #0052cc;
}