:root {
    --primary-color: #d3a4ff;
    --primary-color-hover: #d3a4ff;
    --secondary-color: #698bff;
    --secondary-color-hover: #5677e3;
    --background-color: #c3c3fd;
    --text-color: black;
    --body-color: white;
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #601ca0;
        --primary-color-hover: #360e5c;
        --secondary-color: #20398d;
        --secondary-color-hover: #142661;
        --background-color: #39396e;
        --text-color: white;
        --body-color: #3f5497;
    }
}
body {
    background-color: var(--body-color);
}
.border-radius {
    border: 0px;
    border-radius: 12px;
    outline: none;
}
.touchpad {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2vh;
}
.touchpad .touch {
    width: 100%;
    height: 30vh;
    background-color: var(--background-color);
}
.touchpad .leftmouse, .touchpad .rightmouse {
    width: 50%;
    background-color: var(--secondary-color);
    height: 10vh;
}
.flex-box {
    display: flex;
}
.flex-box.wrap {
    flex-wrap: wrap;
}
.flex-box.space-between {
    margin: 1vh -1vw;
}
.flex-box.space-between .keys {
    margin: auto 1vw 1vh 1vw;
}
.flex-box.space-between .keyboard {
    margin: 0px 1vw 1vh 1vw;
}
.flex-box .keys {
    width: 17vw;
    height: 10vh;
    margin-top: auto;
    color: var(--text-color);
    font-weight: bold;
    font-size: 3vw;
}
.flex-box .keyboard {
    width: 80vw;
    background-color: var(--background-color);
    padding: 10px;
    box-sizing: border-box;
    color: var(--text-color);
}
.flex-box .up-down > .inner {
    display: flex;
    flex-direction: column;
}
.keys, .touchpad .rightmouse {
    background-color: var(--primary-color);
}
.touchpad .rightmouse:active, .keys:active, .keys[data-active="true"] {
    background-color: var(--primary-color-hover);
}
@media (max-width: 768px) {
    .flex-box .keys.long-text {
        font-size: 2.5vw;
    }
}
#toast-center {
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  padding: 1em;
  padding-right: 1.5em;
}

.toast {
  transition: opacity 2s ease;
  font-family: monospace;
  color: white;
  background-color: rgb(10, 10, 10);
  padding: 0.5em 1em;
  padding-top: 0;
  display: flex;
  gap: 0.5em;
  border-radius: 1em;
}

.toast .icon {
  font-size: 2.75em;
  padding: 0.25em;
}

.toast .icon, .toast .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toast[data-visibility="fade-out"] {
  opacity: 0;
}
